.safari {
	position: relative;

	&__container {
		width: $mobileWidth;
		padding: 10px 0;
		height: 300px;
		margin: 0 auto;
		margin-bottom: 20px;

		@include mq($ipad) {
			width: $ipadWidth;
		}
		@include mq($ipadPro) {
			width: $ipadProWidth;
		}
		@include mq($desktop) {
			width: $desktopWidth;
		}
	}

	&__video {
		width: inherit;
		height: 300px;
		object-fit: cover;
		position: absolute;
		top: 20px;
		bottom: 0;
		z-index: -1;
	}

	&__content {
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		text-shadow: 0 0 4px $black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__btn {
		padding: 10px 20px;
		border: none;
		outline: none;
		color: #fff;
		background-color: $black;
		margin-top: 30px;
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover {
			letter-spacing: 1px;
		}
	}
}
