.tech {
	&__container {
		width: $mobileWidth;
		margin: 0 auto;
		padding: 20px 0;

		@include mq($ipad) {
			width: $ipadWidth;
		}

		@include mq($ipadPro) {
			width: $ipadProWidth;
			display: flex;
			flex-direction: column;
		}

		@include mq($desktop) {
			width: $desktopWidth;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__noticias {
		@include mq($ipadPro) {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 10px;
		}
	}
}
